{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <h1>Datasets Available</h1>
    <form method="post" action="{% url 'home'%}">
        {% csrf_token %}

        {% for item in datasets%}

        <p><input type="radio" name="dataset_name" value="{{item.DatasetName}}">{{item.DatasetName}}</p>

        {% endfor %}
        <button type="submit" class="btn btn-secondary">Submit</button>
        <input type="button" name="open dataset" value="Open Dataset">

<form method="post" action="{% url 'home'%}">
        {% csrf_token %}

        {% for item in fraud_data%}

        <p><output name="fraud_data">{{fraud_data.TransactionID}}</output> </p>

        {% endfor %}
    </form>

    {% else %}

    <h1>Login</h1>

    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="username", required>
          </div>
          <br/>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

    {% endif %}

{% endblock%}